html {
  height: 100%;
}

body {
    background-color:  #d6eaf8;
    font-family: Optima, Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 1px;
}

a:link { color: #224455; }
a:visited { color: #666666; }

h1 {
    margin: 0;
    text-align: center;
}

/* Put interaction area next to same-height playground. */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
}

.row > .col {
    display: block;
    flex: 1 1 auto; /* additionally, equal width */
    padding: 0;
    height: 100%;
    width: 50%;
}

/* CodeMirror editor */

.CodeMirror {
    border: 1px solid #aaa;
    /* width: 100%; */
    height: 80%;
}

/* Compiler status, in the CodeMirror editor. Lifted from the CodeMirror lint example. */
.compile_error, .compile_warning {
  background-position: left bottom;
  background-repeat: repeat-x;
}

.compile_error {
  background-image:
  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==")
  ;
}

.compile_warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
}

/* Compiler status, the compile button. */
.compile_success {
    background-color: #ADFF2F;
}

.compile_waiting {
    background-color: #FFCC11;
}

.compile_failed {
    background-color: #f22;
}

/* Panel at the bottom of the editor. */
.border {
    border: 1px solid #f7f7f7;
}

.add-panel, .remove-panel {
    cursor: pointer;
}

.remove-panel {
    float: right;
}

.panel {
    background: #f7f7f7;
    padding: 3px 7px;
    font-size: 0.85em;
}

.panel.top, .panel.after-top {
    border-bottom: 1px solid #ddd;
}

.panel.bottom, .panel.before-bottom {
    border-top: 1px solid #ddd;
}

/* Match highlighter. */
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.cm-matchhighlight {
    background-color: lightgreen
}

.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

/* Trailing whitespace. */
.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}

/* Match brackets. */
div.CodeMirror span.CodeMirror-matchingbracket {
    color: #82CAFF;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22;
}

/* Playground */
iframe.playground {
    width: 100%;
    height: 80%;
    border: 1px solid #aaa;
    border-left: 0px;
}
